#modal {
  pointer-events: none; /* Desabilita cliques inicialmente */
  opacity: 0; /* Faz o modal invisível */
  transition: opacity 0.3s ease; /* Transição suave para visibilidade */
}

#modal[visible="true"] {
  pointer-events: auto; /* Permite cliques quando visível */
  opacity: 1; /* Torna o modal visível */
}
